example/output
bin
obj
src/lib
releases/
.ionide
High-grade-Glioblastoma_BRATS/output

.fake
.vscode/settings.json
examples/*/output
tests/*/output
tests/*/output-gpu
tests/*/output-cpu.config
.vscode/
.config
src/output

src/test_temporal.svg
src/test-temporal-graph.dag
src/test-temporal-new-VL1.imgql
src/test-temporal-new.dot
src/test-temporal-new.imgql
src/test.dot
src/test.png
src/test-temporal.dot
src/test-temporal.imgql
