example/output
bin
obj
releases/
.ionide
High-grade-Glioblastoma_BRATS/output

.fake
src/test-cases/BRATS-GPU/GBM-HGG-TACAS19-modified-for-uint16.imgql
src/test-cases/BRATS-GPU/input.imgql
src/test-cases/BRATS-GPU/BRATS/Brats17_2013_17_1/a.png
src/test-cases/BRATS-GPU/BRATS/Brats17_2013_17_1/b.png
src/test-cases/BRATS-GPU/BRATS/Brats17_2013_17_1/Brats17_2013_17_1_pflair-uint16-alike_seg-uint16-scaled.png
src/test-cases/BRATS-GPU/BRATS/Brats17_2013_17_1/Brats17_2013_17_1_pflair-uint16-alike_seg-uint16.png
src/test-cases/BRATS-GPU/BRATS/Brats17_2013_17_1/Brats17_2013_17_1_pflair-uint16-alike_slice-max-GTV-uint16-scaled.png
src/test-cases/BRATS-GPU/BRATS/Brats17_2013_17_1/Brats17_2013_17_1_pflair-uint16-alike_slice-max-GTV-uint16.png
src/test-cases/BRATS-GPU/BRATS/Brats17_2013_23_1/Brats17_2013_23_1_pflair-uint16-alike_seg-uint16-scaled.png
src/test-cases/BRATS-GPU/BRATS/Brats17_2013_23_1/Brats17_2013_23_1_pflair-uint16-alike_seg-uint16.png
src/test-cases/BRATS-GPU/BRATS/Brats17_2013_23_1/Brats17_2013_23_1_pflair-uint16-alike_slice-max-GTV-uint16-scaled.png
src/test-cases/BRATS-GPU/BRATS/Brats17_2013_23_1/Brats17_2013_23_1_pflair-uint16-alike_slice-max-GTV-uint16.png
src/test-cases/BRATS-GPU/BRATS/Brats17_2013_26_1/Brats17_2013_26_1_pflair-uint16-alike_seg-uint16-scaled.png
src/test-cases/BRATS-GPU/BRATS/Brats17_2013_26_1/Brats17_2013_26_1_pflair-uint16-alike_seg-uint16.png
src/test-cases/BRATS-GPU/BRATS/Brats17_2013_26_1/Brats17_2013_26_1_pflair-uint16-alike_slice-max-GTV-uint16-scaled.png
src/test-cases/BRATS-GPU/BRATS/Brats17_2013_26_1/Brats17_2013_26_1_pflair-uint16-alike_slice-max-GTV-uint16.png
src/test-cases/BRATS-GPU/BRATS/Brats17_CBICA_ASE_1/Brats17_CBICA_ASE_1_pflair-uint16-alike_seg-uint16-scaled.png
src/test-cases/BRATS-GPU/BRATS/Brats17_CBICA_ASE_1/Brats17_CBICA_ASE_1_pflair-uint16-alike_seg-uint16.png
src/test-cases/BRATS-GPU/BRATS/Brats17_CBICA_ASE_1/Brats17_CBICA_ASE_1_pflair-uint16-alike_slice-max-GTV-uint16-scaled.png
src/test-cases/BRATS-GPU/BRATS/Brats17_CBICA_ASE_1/Brats17_CBICA_ASE_1_pflair-uint16-alike_slice-max-GTV-uint16.png
src/test-cases/BRATS-GPU/BRATS/Brats17_CBICA_ASO_1/Brats17_CBICA_ASO_1_pflair-uint16-alike_seg-uint16-scaled.png
src/test-cases/BRATS-GPU/BRATS/Brats17_CBICA_ASO_1/Brats17_CBICA_ASO_1_pflair-uint16-alike_seg-uint16.png
src/test-cases/BRATS-GPU/BRATS/Brats17_CBICA_ASO_1/Brats17_CBICA_ASO_1_pflair-uint16-alike_slice-max-GTV-uint16-scaled.png
src/test-cases/BRATS-GPU/BRATS/Brats17_CBICA_ASO_1/Brats17_CBICA_ASO_1_pflair-uint16-alike_slice-max-GTV-uint16.png
src/test-cases/BRATS-GPU/BRATS/Brats17_CBICA_AYU_1/Brats17_CBICA_AYU_1_pflair-uint16-alike_seg-uint16-scaled.png
src/test-cases/BRATS-GPU/BRATS/Brats17_CBICA_AYU_1/Brats17_CBICA_AYU_1_pflair-uint16-alike_seg-uint16.png
src/test-cases/BRATS-GPU/BRATS/Brats17_CBICA_AYU_1/Brats17_CBICA_AYU_1_pflair-uint16-alike_slice-max-GTV-uint16-scaled.png
src/test-cases/BRATS-GPU/BRATS/Brats17_CBICA_AYU_1/Brats17_CBICA_AYU_1_pflair-uint16-alike_slice-max-GTV-uint16.png
src/test-cases/BRATS-GPU/BRATS/Brats17_TCIA_198_1/Brats17_TCIA_198_1_pflair-uint16-alike_seg-uint16-scaled.png
src/test-cases/BRATS-GPU/BRATS/Brats17_TCIA_198_1/Brats17_TCIA_198_1_pflair-uint16-alike_seg-uint16.png
src/test-cases/BRATS-GPU/BRATS/Brats17_TCIA_198_1/Brats17_TCIA_198_1_pflair-uint16-alike_slice-max-GTV-uint16-scaled.png
src/test-cases/BRATS-GPU/BRATS/Brats17_TCIA_198_1/Brats17_TCIA_198_1_pflair-uint16-alike_slice-max-GTV-uint16.png
src/test-cases/BRATS-GPU/BRATS/Brats17_TCIA_221_1/Brats17_TCIA_221_1_pflair-uint16-alike_seg-uint16-scaled.png
src/test-cases/BRATS-GPU/BRATS/Brats17_TCIA_221_1/Brats17_TCIA_221_1_pflair-uint16-alike_seg-uint16.png
src/test-cases/BRATS-GPU/BRATS/Brats17_TCIA_221_1/Brats17_TCIA_221_1_pflair-uint16-alike_slice-max-GTV-uint16-scaled.png
src/test-cases/BRATS-GPU/BRATS/Brats17_TCIA_221_1/Brats17_TCIA_221_1_pflair-uint16-alike_slice-max-GTV-uint16.png
src/test-cases/BRATS-GPU/BRATS/Brats17_TCIA_314_1/Brats17_TCIA_314_1_pflair-uint16-alike_seg-uint16-scaled.png
src/test-cases/BRATS-GPU/BRATS/Brats17_TCIA_314_1/Brats17_TCIA_314_1_pflair-uint16-alike_seg-uint16.png
src/test-cases/BRATS-GPU/BRATS/Brats17_TCIA_314_1/Brats17_TCIA_314_1_pflair-uint16-alike_slice-max-GTV-uint16-scaled.png
src/test-cases/BRATS-GPU/BRATS/Brats17_TCIA_314_1/Brats17_TCIA_314_1_pflair-uint16-alike_slice-max-GTV-uint16.png
src/test-cases/BRATS-GPU/BRATS/Brats17_TCIA_478_1/Brats17_TCIA_478_1_pflair-uint16-alike_seg-uint16-scaled.png
src/test-cases/BRATS-GPU/BRATS/Brats17_TCIA_478_1/Brats17_TCIA_478_1_pflair-uint16-alike_seg-uint16.png
src/test-cases/BRATS-GPU/BRATS/Brats17_TCIA_478_1/Brats17_TCIA_478_1_pflair-uint16-alike_slice-max-GTV-uint16-scaled.png
src/test-cases/BRATS-GPU/BRATS/Brats17_TCIA_478_1/Brats17_TCIA_478_1_pflair-uint16-alike_slice-max-GTV-uint16.png
src/test-cases/BRATS-GPU/output/GBM-HGG-TACAS19-modified-for-uint16/BRATS/Brats17_2013_17_1/gtv.png
.vscode/settings.json
