example/output
bin
obj
src/lib
releases/
.ionide
High-grade-Glioblastoma_BRATS/output

.fake
.vscode/settings.json
examples/*/output
tests/*/output
tests/*/output-gpu
tests/*/output-cpu.config
.vscode/
.config
src/output

